/* Write your CSS code here */
.header {
  display: flex;
  justify-content: space-between;
}
.title-container {
  display: flex;
  justify-content: flex-start;
}
.item-container {
  display: flex;
  list-style: none;
}
.nav-item {
  margin-right: 5px;
}
